---
import "./social-links.css";
import Tooltip from "../Tooltip/Tooltip.astro";
import TooltipTrigger from "../Tooltip/TooltipTrigger.astro";

interface Props {
  label: string;
  href: string;
  showLabel?: boolean;
}
const { label, href, showLabel } = Astro.props;

const tipId = `tip-${label.toLowerCase()}`;
---

<li class="m-0">
  <TooltipTrigger
    as="a"
    href={href}
    rel="me noopener noreferrer"
    target="_blank"
    class:list={[
      "btn social-link__btn",
      { "social-link__btn--labeled": showLabel },
    ]}
    {...!showLabel
      ? {
          "aria-label": label,
          "aria-describedby": tipId,
          interestfor: tipId,
        }
      : {}}
  >
    <slot />
    {showLabel && <span>{label}</span>}
  </TooltipTrigger>
  {!showLabel && <Tooltip id={tipId}>Follow us on {label}</Tooltip>}
</li>
