!= render 'templates/layout' do
  %h2 Creator Assets
  %p Please use these assets in your campaign story and thumbnail image to express support for Kickstarter United!

  != render 'pages/union-assets/asset_box', href: "/images/union_assets/banner-1.png", button_text: "Download"
  != render 'pages/union-assets/asset_box', href: "/images/union_assets/banner-2-large.png", button_text: "Download (large)", alt_button: {href: "/images/union_assets/banner-2-small.png", text: "Download (small)"}
  != render 'pages/union-assets/asset_box', href: "/images/union_assets/banner-3.png", button_text: "Download"
  != render 'pages/union-assets/asset_box', href: "/images/union_assets/story-1920x1080.png", button_text: "Download (1920x1080)", alt_button: {href: "/images/union_assets/story-680x383.png", text: "Download (680x383)"}
  != render "pages/union-assets/asset_box", href: "/images/union_assets/Strike_Unity_KSRUSeal_Black.png", button_text: "Download (PNG)", alt_button: {href: "/images/union_assets/Strike_Unity_KSRUSeal_Black.svg", text: "Download (SVG)"}
  != render "pages/union-assets/asset_box", href: "/images/union_assets/Strike_Unity_KSRUSeal_White.png", button_text: "Download (PNG)", alt_button: {href: "/images/union_assets/Strike_Unity_KSRUSeal_White.svg", text: "Download (SVG)"}
  != render "pages/union-assets/asset_box", href: "/images/union_assets/UnitedWithKSRU_Tag_Right-1.png", button_text: "Download (PNG)", alt_button: {href: "/images/union_assets/UnitedWithKSRU_Tag_Right-1.svg", text: "Download (SVG)"}
  != render "pages/union-assets/asset_box", href: "/images/union_assets/UnitedWithKSRU_Tag_Right.png", button_text: "Download (PNG)", alt_button: {href: "/images/union_assets/UnitedWithKSRU_Tag_Right.svg", text: "Download (SVG)"}
  != render "pages/union-assets/asset_box", href: "/images/union_assets/KSRU-Logo-White-Sticker.png", button_text: "Download (PNG)", alt_button: {href: "/images/union_assets/KSRU-Logo-White-Sticker.svg", text: "Download (SVG)"}
  != render "pages/union-assets/asset_box", href: "/images/union_assets/KSRU-Logo-Black-Sticker.png", button_text: "Download (PNG)", alt_button: {href: "/images/union_assets/KSRU-Logo-Black-Sticker.svg", text: "Download (SVG)"}
