---
import { Image } from "astro:assets";
interface Props {
  image: ImageMetadata;
  locationId: string;
  alt: string;
  caption: string;
  rsvpCTA: string;
  rsvpLink: string;
}

const { image, alt, locationId, caption, rsvpCTA, rsvpLink } = Astro.props;

const imageId = `${locationId}-rally-flyer`;
---

<center>
  <div class="max-w-md">
    <figure class="rally">
      <div>
        <Image src={image} alt={alt} />
        <div class="rally__cta-group">
          <button command="show-modal" commandfor={imageId} type="button">
            Details
          </button>
          <a class="btn" href={image.src} download={imageId} type="image/png">
            Download
          </a>
        </div>
        <dialog class="rally__dialog" id={imageId} closedby="any">
          <Image src={image} alt={alt} />
        </dialog>
      </div>
      <figcaption>
        {caption}
      </figcaption>
      <a class="rally__cta btn" href={rsvpLink} data-astro-prefetch="false">
        {rsvpCTA}
      </a>
    </figure>
  </div>
</center>
