---
import { Image } from "astro:assets";
import EveryWorkerNeedsAUnion1 from "../images/every_worker_needs_a_union/01@3x.png";
import EveryWorkerNeedsAUnion2 from "../images/every_worker_needs_a_union/02@3x.png";
import EveryWorkerNeedsAUnion4 from "../images/every_worker_needs_a_union/04@3x.png";
import EveryWorkerNeedsAUnion5 from "../images/every_worker_needs_a_union/05@3x.png";
import EveryWorkerNeedsAUnion6v2 from "../images/every_worker_needs_a_union/06 copy 2@3x.png";
import EveryWorkerNeedsAUnion6 from "../images/every_worker_needs_a_union/06@3x.png";
import EveryWorkerNeedsAUnion7 from "../images/every_worker_needs_a_union/07@3x.png";
import EveryWorkerNeedsAUnion8 from "../images/every_worker_needs_a_union/08@3x.png";
import FinalEveryWorker1 from "../images/every_worker_needs_a_union/FINAL_Every Worker_01.png";
import FinalEveryWorker2 from "../images/every_worker_needs_a_union/FINAL_Every Worker_02.png";
import FinalEveryWorker3 from "../images/every_worker_needs_a_union/FINAL_Every Worker_03.png";
import FinalEveryWorker4 from "../images/every_worker_needs_a_union/FINAL_Every Worker_04.png";
import FinalEveryWorker5 from "../images/every_worker_needs_a_union/FINAL_Every Worker_05.png";
import FinalEveryWorker6 from "../images/every_worker_needs_a_union/FINAL_Every Worker_06.png";
import FinalEveryWorker7 from "../images/every_worker_needs_a_union/FINAL_Every Worker_07.png";
import FinalEveryWorker8 from "../images/every_worker_needs_a_union/FINAL_Every Worker_08.png";
import FinalEveryWorker9 from "../images/every_worker_needs_a_union/FINAL_Every Worker_09.png";
import FinalEveryWorker10 from "../images/every_worker_needs_a_union/FINAL_Every Worker_10.png";
import FinalEveryWorker11 from "../images/every_worker_needs_a_union/FINAL_Every Worker_11.png";
import FinalEveryWorker12 from "../images/every_worker_needs_a_union/FINAL_Every Worker_12.png";
import FinalEveryWorker13 from "../images/every_worker_needs_a_union/FINAL_Every Worker_13.png";
import FinalEveryWorker14 from "../images/every_worker_needs_a_union/FINAL_Every Worker_14.png";
import FinalEveryWorker15 from "../images/every_worker_needs_a_union/FINAL_Every Worker_15.png";
import FinalEveryWorker16 from "../images/every_worker_needs_a_union/FINAL_Every Worker_16.png";
import BigQuote from "../images/every_worker_needs_a_union/bigquote.png";
import BaseLayout from "../layouts/BaseLayout.astro";
import Carousel from "../ui/Carousel/Carousel.astro";
import Heading from "../ui/typography/Heading.astro";
import Text from "../ui/typography/Text.astro";
import { Icon } from "astro-icon/components";
---

<BaseLayout title="Every Worker Needs a Union">
  <section class="ewnu-hero">
    <Heading as="h1" size="xl" maxLineLength={false}
      >Every Worker Needs a Union</Heading
    >
    <Text as="p" size="lg" class="ewnu-hero__subtitle">
      In May 2020, as colleagues faced layoffs during the pandemic, Kickstarter
      United members shared what building the first union in tech meant to them.
      These are their words.
    </Text>
  </section>

  <div class="ewnu-tweet">
    <blockquote class="twitter-tweet">
      <p lang="en" dir="ltr">
        Today will be the last day at Kickstarter for many of our colleagues
        impacted by COVID-19 layoffs.
        <br />
        <br />
        For the next week, we&#39;ll be sharing our thoughts, feelings, and stories
        about building the first union in the tech industry.
        <br />
        <br />
        Let&#39;s say it together: every worker needs a union!
      </p>
      &mdash; Kickstarter United (@ksr_united)
      <a
        href="https://twitter.com/ksr_united/status/1261288538278187009?ref_src=twsrc%5Etfw"
      >
        May 15, 2020
      </a>
    </blockquote>
    <script
      is:inline
      async
      src="https://platform.twitter.com/widgets.js"
      charset="utf-8"></script>
  </div>

  <Carousel scrollButtons class="ewnu-carousel col-[bleed]">
    <Icon name="tabler:chevron-left" size={24} slot="prev-button" />
    <Icon name="tabler:chevron-right" size={24} slot="next-button" />
    <div class="ewnu-card" style="--bg: #000">
      <Image
        loading="lazy"
        alt="This experience has shown me that unions are the only way to have a true voice in your workplace. Being a part of the Kickstarter union has showed me what being truly accounted for looks like - what being truly listened to and heard feels like. Having the ability to come together and win a safe severance package will never be lost on me. Tech needs unions now more than ever."
        src={EveryWorkerNeedsAUnion1}
      />
    </div>
    <div class="ewnu-card" style="--bg: #000">
      <Image
        loading="lazy"
        alt="My severance is far more than other jobs' stock options got me. Solidarity > stock market."
        src={EveryWorkerNeedsAUnion2}
      />
    </div>
    <div class="ewnu-card" style="--bg: #000">
      <Image
        loading="lazy"
        alt="A company may be run by kind, caring, thoughtful folks, but in the end - in a global pandemic in the worst economic recession since the Depression - they won't have your back. They never did. Your fellow workers will. The joy I feel knowing we came together to ensure a fair severance package for all is some of the only joy I've felt in weeks. The gratitude I have for my coworkers and comrades is endless."
        src={EveryWorkerNeedsAUnion4}
      />
    </div>
    <div class="ewnu-card" style="--bg: #fce3fe">
      <Image
        loading="lazy"
        alt="Empowering each other is gorgeous. Unions are us. I believe in us."
        src={EveryWorkerNeedsAUnion5}
      />
    </div>
    <div class="ewnu-card" style="--bg: #ffdb00">
      <Image
        loading="lazy"
        alt="Your boss will never have your back like a union will."
        src={EveryWorkerNeedsAUnion6v2}
      />
    </div>
    <div class="ewnu-card" style="--bg: #fce3fe">
      <Image
        loading="lazy"
        alt="Those with power like to prescribe the borders of our imagination so that we believe there is no alternative to the system we're living under. But solidarity and labor organizing show us a way out. They disrupt dominant narratives and rebuild our collective values from the ground up, letting us envision and enact the future we want to be a part of."
        src={EveryWorkerNeedsAUnion6}
      />
    </div>
    <div class="ewnu-card" style="--bg: #000">
      <Image
        loading="lazy"
        alt="A union brings power balance to the workplace. People over profit!"
        src={EveryWorkerNeedsAUnion7}
      />
    </div>
    <div class="ewnu-card" style="--bg: #ef5eb8">
      <Image
        loading="lazy"
        alt="To know that you're not the only one who believes positive change is possible, while feeling supported in using your voice as part of a collective to achieve that change."
        src={EveryWorkerNeedsAUnion8}
      />
    </div>
    <div class="ewnu-card" style="--bg: #000">
      <Image
        loading="lazy"
        alt={`My dream job paid 10% less than my male counterpart. HR & my manager told me we were on "different career trajectories." My coworkers told me the truth - it was the pay gap. Alone I had no real power. As a union, we organized against inequity. It's night and day."`}
        src={FinalEveryWorker1}
      />
    </div>
    <div class="ewnu-card" style="--bg: #000">
      <Image
        loading="lazy"
        alt="Here's one thing the bosses will never tell you: YOU are the union. You and your peers get to decide what your union values, what your union fights for, and how your union makes those decisions."
        src={FinalEveryWorker2}
      />
    </div>
    <div class="ewnu-card" style="--bg: #000">
      <Image
        loading="lazy"
        alt="Google 'fist of five.' Then compare that process to how decisions get made at your workplace. Really makes you think..."
        src={FinalEveryWorker3}
      />
    </div>
    <div class="ewnu-card" style="--bg: #000">
      <Image
        loading="lazy"
        alt="'It always seems impossible until it is done.' - Nelson Mandela"
        src={FinalEveryWorker4}
      />
    </div>
    <div class="ewnu-card" style="--bg: #fce3fe">
      <Image
        loading="lazy"
        alt="An injury to one is an injury to all!"
        src={FinalEveryWorker5}
      />
    </div>
    <div class="ewnu-card" style="--bg: #fce3fe">
      <Image
        loading="lazy"
        alt="No amount of friendship can make up for a fundamentally abusive and sexist workplace experience. (p.s. You can have friendships and your union! They are not mutually exclusive. you may have heard otherwise...)"
        src={FinalEveryWorker6}
      />
    </div>
    <div class="ewnu-card" style="--bg: #000">
      <Image
        loading="lazy"
        alt="Working with Kickstarter United was eye-opening. If you think your white-collar tech company's leadership has your back, and you don't need a union, I'd like to tell you that you're wrong. Even the best-intentioned companies will gut their ranks to survive. Unions are the only way to ensure a company will put its people over its capitalistic agenda. They're also a lesson in collaborative leadership, mutual aid, and resiliency. Starting a union is a way to fast-track your education around how resilient, mutually beneficial organizations can exist in this world. It's worth the effort."
        src={FinalEveryWorker7}
      />
    </div>
    <div class="ewnu-card" style="--bg: #ef5eb8">
      <Image
        loading="lazy"
        alt="Organizing with my colleagues showed me just how great our company *could* be."
        src={FinalEveryWorker8}
      />
    </div>
    <div class="ewnu-card" style="--bg: #ffdb00">
      <Image
        loading="lazy"
        alt="There were so many times I thought we'd made a fatal mistake, so many times I thought management had us beat. Even in those moments, I thought 'Well, this was worth fighting for.' And then we kept working, kept talking to our colleagues, weathering the blows and meeting misinformation with truth. And then...we won."
        src={FinalEveryWorker9}
      />
    </div>
    <div class="ewnu-card" style="--bg: #feff43">
      <Image
        loading="lazy"
        alt="In times of crisis, even the most mission-driven companies, organizations, and non-profits will put their survival first above workers' health and livelihoods. Before this I optimistically thought a company would do the right thing for at-risk workers in need, but it was my fellow workers via the union who fought for and won the protections, healthcare, and severance we now have heading into this economic depression."
        src={FinalEveryWorker10}
      />
    </div>
    <div class="ewnu-card" style="--bg: #000">
      <Image
        loading="lazy"
        alt="If you haven't tried voting on something at work, I highly recommend it"
        src={FinalEveryWorker11}
      />
    </div>
    <div class="ewnu-card" style="--bg: #000">
      <Image
        loading="lazy"
        alt="At work, we're taught that our salaries, performance reviews, benefits, experiences of harassment, etc. are private. We're not supposed to share with anyone. But when you talk to your colleagues, the isolation disappears and everything becomes possible. Share your story, build power, protect one another."
        src={FinalEveryWorker12}
      />
    </div>
    <div class="ewnu-card" style="--bg: #000">
      <Image
        loading="lazy"
        alt="Venture capitalists will never protect your job."
        src={FinalEveryWorker13}
      />
    </div>
    <div class="ewnu-card" style="--bg: #feff43">
      <Image
        loading="lazy"
        alt="You may find a company whose values align with yours, but as far as the owners are concerned, those values always come second to profit. If you care about your work, you have to stand with your coworkers. After all, you're the ones who built it."
        src={FinalEveryWorker14}
      />
    </div>
    <div class="ewnu-card" style="--bg: #ffdb00">
      <Image
        loading="lazy"
        alt="Maybe your work place is great. Maybe work is just work and you try not to get too worked up about it. Maybe your colleagues are like your family. Maybe you've seen some messed up stuff and felt alone and unable to handle it. No matter what your workplace is like, I promise you'll feel better with a union and knowing your colleagues have your back."
        src={FinalEveryWorker15}
      />
    </div>
    <div class="ewnu-card" style="--bg: #ef5eb8">
      <Image
        loading="lazy"
        alt="Corporations are not your friend."
        src={FinalEveryWorker16}
      />
    </div>
    <div class="ewnu-card" style="--bg: #fce3fe">
      <Image
        loading="lazy"
        alt="You are not a problem for speaking up and demanding basic dignity at work. The only people who profit from your silence are the people who never cared about you in the first place."
        src={BigQuote}
      />
    </div>
  </Carousel>
</BaseLayout>

<style>
  .ewnu-hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: var(--ksru-space-sm);
    margin-block: var(--ksru-space-2xl) var(--ksru-space-xl);
  }

  .ewnu-hero__subtitle {
    color: color-mix(in oklch, currentColor, transparent 30%);
    text-wrap: balance;
    margin-top: 0;
  }

  .ewnu-tweet {
    display: flex;
    justify-content: center;
    margin-bottom: var(--ksru-space-2xl);
  }

  /* ── Vertical page snap (scoped to this page) ── */
  :global(html:has(.ewnu-carousel)) {
    scroll-snap-type: y proximity;
  }

  @media (prefers-reduced-motion: no-preference) {
    :global(body) {
      transition: background-color 0.4s ease;
    }
  }

  /* ── Full-bleed scroll-snap carousel ── */
  .ewnu-carousel {
    /* Mobile: flex-wrap puts scroller first, buttons centered below */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: var(--ksru-space-md);
    margin-bottom: var(--ksru-space-2xl);
    scroll-snap-align: start;
    anchor-name: --ewnu-carousel;
  }

  .ewnu-carousel :global(.carousel__scroller) {
    display: flex;
    gap: var(--ksru-space-lg);
    order: -1;
    flex: 0 0 100%;
    scrollbar-width: none;
  }

  .ewnu-carousel :global(.carousel__scroller::-webkit-scrollbar) {
    display: none;
  }

  /* Centering spacers: sized so the first/last card can reach viewport center */
  .ewnu-carousel :global(.carousel__scroller::before),
  .ewnu-carousel :global(.carousel__scroller::after) {
    content: "";
    flex: 0 0 max(0px, calc(50% - min(85vw, 42rem) / 2 - var(--ksru-space-lg)));
  }

  .ewnu-card {
    flex: 0 0 auto;
    width: min(85vw, 42rem);
    padding: var(--ksru-space-xl);
    background: var(--bg);
    border-radius: 12px;

    @supports (corner-shape: squircle) {
      corner-shape: squircle;
      border-radius: 32px;
    }
    box-shadow: 0 4px 24px oklch(0% 0 0 / 15%);
    scroll-snap-stop: always;
    container-type: scroll-state;
  }

  .ewnu-card :global(img) {
    width: 100%;
    height: auto;
    border-radius: 4px;
  }

  /* When wide enough: size cards by height instead of width */
  @media (width >= 768px) {
    .ewnu-carousel {
      position: relative; /* containing block for absolute-positioned buttons */
      height: 80vh;
    }

    .ewnu-carousel :global(.carousel__scroller) {
      height: 100%;
    }

    .ewnu-carousel :global(.carousel__scroller::before),
    .ewnu-carousel :global(.carousel__scroller::after) {
      /* Cards are height-driven; ~35vh estimates half-width for typical aspect ratios */
      flex-basis: max(0px, calc(50% - 35vh - var(--ksru-space-lg)));
    }

    .ewnu-card {
      width: auto;
      height: 100%;
    }

    .ewnu-card :global(img) {
      width: auto;
      height: 100%;
    }
  }

  /* ── Carousel navigation arrows ── */

  /* Layer 1: HTML buttons (mobile default - centered below carousel via flex-wrap) */
  .ewnu-carousel :global(.carousel__btn) {
    --_btn-bg: color-mix(
      in oklch,
      var(--_ewnu-active-bg, var(--ksru-color-surface)) 35%,
      var(--ksru-color-surface)
    );
    display: grid;
    place-items: center;
    width: 44px;
    height: 44px;
    padding: 0;
    border: 1px solid var(--ksru-color-border);
    border-radius: 50%;
    background: var(--_btn-bg);
    color: var(--ksru-color-icon);
    cursor: pointer;
    transition:
      background-color 0.4s ease,
      border-color 0.15s;
  }

  .ewnu-carousel :global(.carousel__btn:hover) {
    background: color-mix(in oklch, var(--_btn-bg) 92%, var(--ksru-color-text));
    border-color: var(--ksru-color-border-hover);
  }

  .ewnu-carousel :global(.carousel__btn:active) {
    background: color-mix(in oklch, var(--_btn-bg) 85%, var(--ksru-color-text));
    border-color: var(--ksru-color-border-active);
  }

  .ewnu-carousel :global(.carousel__btn:disabled) {
    opacity: 0.2;
    cursor: not-allowed;
  }

  .ewnu-carousel :global(.carousel__btn:focus-visible) {
    outline: 3px solid var(--ksru-color-outline, currentColor);
    outline-offset: 3px;
  }

  /* Layer 2: Positioned at carousel edges on desktop */
  @media (width >= 768px) {
    /* Base: absolute positioning (works in all browsers) */
    .ewnu-carousel :global(.carousel__btn) {
      position: absolute;
      top: 50%;
      translate: 0 -50%;
      z-index: 10;
    }

    .ewnu-carousel :global(.carousel__btn[data-dir="prev"]) {
      left: var(--ksru-space-md);
    }

    .ewnu-carousel :global(.carousel__btn[data-dir="next"]) {
      right: var(--ksru-space-md);
    }

    /* Upgrade: anchor positioning for browsers with native support */
    @supports (anchor-name: --a) {
      .ewnu-carousel :global(.carousel__btn) {
        position: fixed;
        position-anchor: --ewnu-carousel;
        top: anchor(center);
        position-visibility: anchors-visible;
      }

      .ewnu-carousel :global(.carousel__btn[data-dir="prev"]) {
        left: calc(anchor(left) + var(--ksru-space-md));
      }

      .ewnu-carousel :global(.carousel__btn[data-dir="next"]) {
        right: calc(anchor(right) + var(--ksru-space-md));
      }
    }
  }
</style>

<style is:global>
  .ewnu-carousel[data-snap-active] .ewnu-card {
    opacity: 0.4;
    box-shadow: none;
  }

  .ewnu-carousel[data-snap-active] .ewnu-card[data-snapped] {
    opacity: 1;
  }

  @media (prefers-reduced-motion: no-preference) {
    .ewnu-carousel[data-snap-active] .ewnu-card {
      scale: 0.9;
      transition:
        scale 0.3s ease,
        opacity 0.3s ease;
    }

    .ewnu-carousel[data-snap-active] .ewnu-card[data-snapped] {
      scale: 1;
    }
  }
</style>

<script>
  const scroller = document.querySelector(".ewnu-carousel .carousel__scroller");
  const wrapper = scroller?.closest(".ewnu-carousel");
  if (scroller && wrapper && "onscrollsnapchanging" in scroller) {
    let activeCard: Element | null = null;
    let activeBg = "";
    let visible = false;

    const reducedMotion = matchMedia(
      "(prefers-reduced-motion: reduce)",
    ).matches;

    const first = scroller.querySelector<HTMLElement>(".ewnu-card");
    if (first) {
      activeBg = first.style.getPropertyValue("--bg").trim();
      first.setAttribute("data-snapped", "");
      activeCard = first;
      document.documentElement.style.setProperty("--_ewnu-active-bg", activeBg);
    }

    wrapper.setAttribute("data-snap-active", "");

    function apply() {
      document.body.style.backgroundColor =
        !reducedMotion && visible ? activeBg : "";
    }

    scroller.addEventListener("scrollsnapchanging", (e) => {
      const card = e.snapTargetInline;
      if (card instanceof HTMLElement) {
        activeBg = card.style.getPropertyValue("--bg").trim();
        document.documentElement.style.setProperty(
          "--_ewnu-active-bg",
          activeBg,
        );
        apply();
        if (activeCard) activeCard.removeAttribute("data-snapped");
        card.setAttribute("data-snapped", "");
        activeCard = card;
      }
    });

    new IntersectionObserver(
      (entries) => {
        const entry = entries[0]!;
        visible = entry.isIntersecting;
        apply();
      },
      { threshold: 0.5 },
    ).observe(wrapper);
  }
</script>

<style is:inline>
  /* Layer 3: Pure CSS scroll buttons (Chrome 135+) */
  @supports selector(::scroll-button(*)) {
    /* Theme-aware icon SVGs (background-image can't use currentColor) */
    :root {
      --_ewnu-chevron-l: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='%231a1f1b' stroke-linecap='round' stroke-linejoin='round' stroke-width='2'%3E%3Cpath d='m15 6-6 6 6 6'/%3E%3C/svg%3E");
      --_ewnu-chevron-r: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='%231a1f1b' stroke-linecap='round' stroke-linejoin='round' stroke-width='2'%3E%3Cpath d='m9 6 6 6-6 6'/%3E%3C/svg%3E");
    }
    [data-theme="dark"] {
      --_ewnu-chevron-l: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='white' stroke-linecap='round' stroke-linejoin='round' stroke-width='2'%3E%3Cpath d='m15 6-6 6 6 6'/%3E%3C/svg%3E");
      --_ewnu-chevron-r: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='white' stroke-linecap='round' stroke-linejoin='round' stroke-width='2'%3E%3Cpath d='m9 6 6 6-6 6'/%3E%3C/svg%3E");
    }
    @media (prefers-color-scheme: dark) {
      [data-theme="system"] {
        --_ewnu-chevron-l: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='white' stroke-linecap='round' stroke-linejoin='round' stroke-width='2'%3E%3Cpath d='m15 6-6 6 6 6'/%3E%3C/svg%3E");
        --_ewnu-chevron-r: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='white' stroke-linecap='round' stroke-linejoin='round' stroke-width='2'%3E%3Cpath d='m9 6 6 6-6 6'/%3E%3C/svg%3E");
      }
    }

    .ewnu-carousel .carousel__scroller::scroll-button(*) {
      --_btn-bg: color-mix(
        in oklch,
        var(--_ewnu-active-bg, var(--ksru-color-surface)) 35%,
        var(--ksru-color-surface)
      );
      width: 44px;
      height: 44px;
      border: 1px solid var(--ksru-color-border);
      border-radius: 50%;
      background-color: var(--_btn-bg);
      background-size: 24px;
      background-repeat: no-repeat;
      background-position: center;
      cursor: pointer;
      transition:
        background-color 0.4s ease,
        border-color 0.15s;
      /* Mobile: centered below carousel */
      position: fixed;
      position-anchor: --ewnu-carousel;
      position-visibility: anchors-visible;
      z-index: 10;
      top: anchor(bottom);
      margin-top: var(--ksru-space-md);
    }

    .ewnu-carousel .carousel__scroller::scroll-button(*):hover {
      background-color: color-mix(
        in oklch,
        var(--_btn-bg) 92%,
        var(--ksru-color-text)
      );
      border-color: var(--ksru-color-border-hover);
    }

    .ewnu-carousel .carousel__scroller::scroll-button(*):disabled {
      opacity: 0.2;
      cursor: not-allowed;
    }

    .ewnu-carousel .carousel__scroller::scroll-button(*):focus-visible {
      outline: 3px solid var(--ksru-color-outline, currentColor);
      outline-offset: 3px;
    }

    .ewnu-carousel .carousel__scroller::scroll-button(left) {
      content: "" / "Previous";
      background-image: var(--_ewnu-chevron-l);
      right: calc(anchor(center) + var(--ksru-space-sm));
    }

    .ewnu-carousel .carousel__scroller::scroll-button(right) {
      content: "" / "Next";
      background-image: var(--_ewnu-chevron-r);
      left: calc(anchor(center) + var(--ksru-space-sm));
    }

    /* Desktop: reposition to carousel edges */
    @media (width >= 768px) {
      .ewnu-carousel .carousel__scroller::scroll-button(*) {
        top: anchor(center);
        translate: 0 -50%;
        margin-top: 0;
      }

      .ewnu-carousel .carousel__scroller::scroll-button(left) {
        right: auto;
        left: calc(anchor(left) + var(--ksru-space-md));
      }

      .ewnu-carousel .carousel__scroller::scroll-button(right) {
        left: auto;
        right: calc(anchor(right) + var(--ksru-space-md));
      }
    }
  }
</style>
