---
import { Image } from "astro:assets";
interface Props {
  image: ImageMetadata;
  button_text: string;
  alt_button?: {
    image: ImageMetadata;
    text: string;
  };
  alt?: string;
}
const { image, button_text, alt_button, alt } = Astro.props;
---

<div class="border-4 p-4 mt-4 bg-gray-200">
  <Image class="mx-auto" src={image} alt={alt || button_text} loading="lazy" />
  <div class="mt-6 mb-1 flex">
    <a
      class="no-underline text-black border-4 w-auto bg-white px-6 py-3"
      href={image.src}
      download
      type="image/png"
    >
      {button_text}
    </a>
    {
      alt_button && (
        <a
          class="no-underline text-black border-4 w-auto bg-white px-6 py-3 ml-4"
          href={alt_button.image.src}
          download
          type="image/png"
        >
          {alt_button.text}
        </a>
      )
    }
  </div>
</div>
