!!!
%html{"data-wf-page" => "5ce75a59757fff6268d29f8b", "data-wf-site" => "5ce75a58757fffbe19d29f88"}
  %head
    %meta{charset: "utf-8"}/
    %title Kickstarter United
    %meta{content: "Kickstarter United", property: "og:title"}/
    %meta{content: "/images/logo.svg", property: "og:image"}/
    %meta{content: "width=device-width, initial-scale=1", name: "viewport"}/

    %link{rel: "preconnect", href: "https://fonts.googleapis.com"}
    %link{rel: "preconnect", href: "https://fonts.gstatic.com", crossorigin: true}
    %link{href: "https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap", rel: "stylesheet"}

    %link{href: "/css/output.css", rel: "stylesheet", type: "text/css"}/
    %link{href: "/images/favicon.ico", rel: "shortcut icon", type: "image/x-icon"}/

    %script{src: "https://cdn.jsdelivr.net/npm/@oddbird/popover-polyfill@latest", crossorigin: "anonymous", nomodule: true, async: true}
    %script{type: "module", async: true}
      :plain
        import {isSupported, apply} from "https://unpkg.com/invokers-polyfill@latest/invoker.js"
        if (!isSupported()) {
          apply()
        };
    %script{type: "module"}
      :plain
        if (!("anchorName" in document.documentElement.style)) {
          import("https://unpkg.com/@oddbird/css-anchor-positioning");
        }

  %body{class: "leading-[1.6]"}
    .page
      %header.page__header
        %p.page__logo
          %a.link--standalone{href: "/"} Kickstarter United

        %nav.page__nav
          %a.btn.link.sr-only{href: "#content"} Skip to main content
          -# See the dialog at the bottom of the file.
          %button#menu-trigger{
            class: "flex gap-1 items-center md:hidden",
            command: "show-modal",
            commandfor: "mobile-nav"
          }
            %svg.inline{ width: "24", height: "24", viewBox: "0 0 24 24", xmlns: "http://www.w3.org/2000/svg" }
              %line{ x1: "3", y1: "6", x2: "21", y2: "6", stroke: "currentColor", "stroke-width": "2", "stroke-linecap": "round" }
              %line{ x1: "3", y1: "12", x2: "21", y2: "12", stroke: "currentColor", "stroke-width": "2", "stroke-linecap": "round" }
              %line{ x1: "3", y1: "18", x2: "21", y2: "18", stroke: "currentColor", "stroke-width": "2", "stroke-linecap": "round" }
            Menu

          %div{class: "hidden md:flex md:flex-wrap"}
            .popover
              %button#about-trigger{class: "[anchor-name:--about-trigger]", popovertarget: "about-links"}
                About
              %menu.menu#about-links{class: "[position-anchor:--about-trigger]", popover: nil, "aria-labelledby" => "about-trigger"}
                != render 'templates/about_links'

            .popover
              %button#about-trigger{class: "[anchor-name:--events-trigger]", popovertarget: "events-links"}
                Events
              %menu.menu#events-links{class: "[position-anchor:--events-trigger]", popover: nil, "aria-labelledby" => "about-trigger"}
                != render 'templates/events_links'

            .popover
              %button#contracts-trigger{class: "[anchor-name:--contracts-trigger]", popovertarget: "contracts-links"}
                Contracts
              %menu.menu#contracts-links{popover: nil, "aria-labelledby" => "contracts-trigger"}
                != render 'templates/contracts_links'

            .popover
              %button#resources-trigger{class: "[anchor-name:--resources-trigger]", popovertarget: "resources-links"}
                Resources
              %menu.menu#resources-links{
                class: "[position-anchor:--resources-trigger] [position-area:end_span-start]",
                popover: nil,
                "aria-labelledby" => "resources-trigger"
              }
                != render 'templates/resources_links'


      %main.page__content#content.mx-0.my-8
        != yield
      %footer.page__footer
        .p-4.text-center
          != render 'templates/social_links'
          %br
          © Copyright 2025 Kickstarter United
    %script{crossorigin: "anonymous", integrity: "sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=", src: "https://d3e54v103j8qbb.cloudfront.net/js/jquery-3.4.1.min.220afd743d.js", type: "text/javascript"}

    - # These are outside the nav, because we need to duplicate the links for a
    - # mobile menu, and I didn't want to clutter the top of the file with dual
    - # menus. Don't worry: accessibility is preserved via the Dialog and
    - # Popover APIs.

    %dialog.drawer.menu#mobile-nav{"aria-labelledby" => "menu-trigger", closedby: "any"}
      %button{command: "close", commandfor: "mobile-nav"} Close

      %a.menu__item{href: "/"} Home
      %div.menu__title About
      != render 'templates/about_links'

      %div.menu__title Events
      != render 'templates/events_links'
      %div.menu__title Contracts & Agreements
      != render 'templates/contracts_links'
      %div.menu__title Resources
      != render 'templates/resources_links'
