---
import BlogPost from "../../../components/BlogPost.astro";
import BaseLayout from "../../../layouts/BaseLayout.astro";
import { allBlogPosts, sortBlogEntries } from "../../../blog/getBlogPosts";

export async function getStaticPaths() {
  const uniqueTags = [
    ...new Set(allBlogPosts.map((post) => post.data.tags).flat()),
  ];

  return uniqueTags.map((tag) => {
    const filteredPosts = allBlogPosts.filter((post) =>
      post.data.tags.includes(tag)
    );
    return {
      params: { tag },
      props: { posts: filteredPosts },
    };
  });
}

const { tag } = Astro.params;
const { posts } = Astro.props;

sortBlogEntries(posts);
---

<BaseLayout title={tag}>
  <h1>Posts tagged with <b>{tag}</b> ({posts.length} posts)</h1>
  <ul>
    {posts.map((post) => <BlogPost slug={post.id} frontmatter={post.data} />)}
  </ul>
</BaseLayout>
